.header{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top: 0;
   left:0px;
   max-width:1347px;
   width:1347px;
   right:0px;
   height: 100px;
   background-image: url('images/header_ppi.jpg');
   background-repeat: no-repeat;
   background-position: center left;
}
#header
{
   position: absolute;
   z-index:-1;
   content:' ';
   top: 0;
   left:540px;
   right:0px;
   height: 100px;
   background-image: url('images/petrosida4.jpg');
   background-repeat: no-repeat;
   background-position: center left;
}
#logo
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:0px;
   left:20px;
   right:10px;
   height: 100px;
   background-image: url('images/logo3.png');
   background-repeat: no-repeat;
   background-position: center left;
}
#logo2
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:10px;
   left:1290px;
   right:10px;
   height: 50px;
}
#nama_logo
{
   min-width:500px;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:60px;
   left:160px;
   right:10px;
   font-size:16px;
   font-weight:bold;
   font-family:Arial, Helvetica, sans-serif;
}
#nama_logo2
{
   min-width:500px;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:30px;
   left:160px;
   right:10px;
   font-size:26px;
   font-weight:bold;
   font-family:Arial, Helvetica, sans-serif;
}
#text_header
{
   min-width:240px;
   max-width:240px;
   width:240px;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:45px;
   left:1102px;
   right:10px;
   font-size:16px;
   font-weight:bold;
   color:#FFF;
   font-family:Arial, Helvetica, sans-serif;
}
#text_header2
{
   min-width:240px;
   max-width:240px;
   width:240px;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:65px;
   left:1090px;
   right:17px;
   font-size:14px;
   font-weight:bold;
   color:#FFF;
   font-family:Arial, Helvetica, sans-serif;
   text-align:center;
}
#body
{
   max-width:1347px;
   width:1347px;
   left:0px;
   right:0px;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top: 100px;
}
.melengkung1
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:85px;
   left:10px;
   right:10px;
   height: 80px;
   background-color:#5496D8;
   color:#FFF;
border-radius:5px 5px 0px 0px;
-moz-border-radius:5px 5px 0px 0px;
-webkit-border-radius:5px 5px 0px 0px;
border:2px solid #5496D8;
padding:3px;
}
.gambar
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:10px;
   left:10px;
   right:800px;
}
.jumlah
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:5px;
   left:170px;
   right:10px;
   font-size:54px;
   font-family:Arial, Helvetica, sans-serif;
}
.text
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:60px;
   left:80px;
   right:10px;
   font-size:12px;
   font-family:Arial, Helvetica, sans-serif;
}
.bawah1:hover{
	background-color:#069;
	color:#FFF;
}
.bawah1
{
   cursor:pointer;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:175px;
   left:10px;
   right:10px;
   height: 30px;
   background-color:#FFFF;
   color:#FFF;
border-radius:0px 0px 5px 5px;
-moz-border-radius:0px 0px 5px 5px;
-webkit-border-radius:0px 0px 5px 5px;
border:2px solid #5496D8;
padding:3px;
}
.textbawah
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:10px;
   left:10px;
   right:10px;
   color:#000;
   font-weight:bold;
   font-size:12px;
   font-family:Arial, Helvetica, sans-serif;
}
.gambarbawah
{
   
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:10px;
   left:180px;
   right:0px;
}
.melengkung2
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:235px;
   left:10px;
   right:10px;
   height: 80px;
   background-color:#8CC833;
   color:#FFF;
border-radius:5px 5px 0px 0px;
-moz-border-radius:5px 5px 0px 0px;
-webkit-border-radius:5px 5px 0px 0px;
border:2px solid #8CC833;
padding:3px;
}
.bawah2:hover{
	background-color:#390;
	color:#FFF;
}
.bawah2
{
   cursor:pointer;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:325px;
   left:10px;
   right:10px;
   height: 30px;
   background-color:#FFFF;
   color:#FFF;
border-radius:0px 0px 5px 5px;
-moz-border-radius:0px 0px 5px 5px;
-webkit-border-radius:0px 0px 5px 5px;
border:2px solid #8CC833;
padding:3px;
}

.melengkung3
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:385px;
   left:10px;
   right:10px;
   height: 80px;
   background-color:#F93;
color:#FFF;
border-radius:5px 5px 0px 0px;
-moz-border-radius:5px 5px 0px 0px;
-webkit-border-radius:5px 5px 0px 0px;
border:2px solid #F93;
padding:3px;
}
.bawah3:hover{
	background-color:#F60;
	color:#FFF;
}
.bawah3
{
   cursor:pointer;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:475px;
   left:10px;
   right:10px;
   height: 30px;
   background-color:#FFFF;
   color:#FFF;
border-radius:0px 0px 5px 5px;
-moz-border-radius:0px 0px 5px 5px;
-webkit-border-radius:0px 0px 5px 5px;
border:2px solid #F93;
padding:3px;
}

.melengkung4
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:535px;
   left:10px;
   right:10px;
   height: 80px;
   background-color:#9C5514;
color:#FFF;
border-radius:5px 5px 0px 0px;
-moz-border-radius:5px 5px 0px 0px;
-webkit-border-radius:5px 5px 0px 0px;
border:2px solid #9C5514;
padding:3px;
}

.bawah4:hover{
	background-color:#930;
	color:#FFF;
}
.bawah4
{
   cursor:pointer;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:625px;
   left:10px;
   right:10px;
   height: 30px;
   background-color:#FFFF;
   color:#FFF;
border-radius:0px 0px 5px 5px;
-moz-border-radius:0px 0px 5px 5px;
-webkit-border-radius:0px 0px 5px 5px;
border:2px solid #9C5514;
padding:3px;
}

.melengkung5
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:685px;
   left:10px;
   right:10px;
   height: 80px;
   background-color:#F04633;
color:#FFF;
border-radius:5px 5px 0px 0px;
-moz-border-radius:5px 5px 0px 0px;
-webkit-border-radius:5px 5px 0px 0px;
border:2px solid #F04633;
padding:3px;
}
.bawah5:hover{
	background-color:#F03;
	color:#FFF;
}
.bawah5
{
   position: absolute;
   z-index:-1;
   cursor:pointer;
   display:block;
   content:' ';
   top:775px;
   left:10px;
   right:10px;
   height: 30px;
   background-color:#FFFF;
   color:#FFF;
border-radius:0px 0px 5px 5px;
-moz-border-radius:0px 0px 5px 5px;
-webkit-border-radius:0px 0px 5px 5px;
border:2px solid #F04633;
padding:3px;
}

.kirimenu
{
   min-width:238px;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:2px;
   left:2px;
   right:1100px;
   height: 830px;
   background-color:#36BE4A;
   color:#000;
border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
-webkit-border-radius:3px 3px 3px 3px;
border:1px solid #25814F;
padding:3px;
}
.kiri
{
   min-width:238px;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:2px;
   left:2px;
   right:1100px;
   height: 830px;
   color:#000;
border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
-webkit-border-radius:3px 3px 3px 3px;
border:1px solid #25814F;
padding:3px;
}
#menu_show,#menu_hide
{
cursor:pointer;	
}
.artkiri
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:1px;
   left:0px;
   right:0px;
   height: 40px;
   background-color:#FFFF;
   color:#000;
   font-weight:900;
border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
border-bottom:1px solid #25814F;
padding:3px;
}
.gambarartkiri{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:13px;
   left:35px;
   right:1px;
}
.textartkiri{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:8px;
   left:85px;
   right:1px;
   font-weight:bold;
   font-size:24px;
   font-family:Arial, Helvetica, sans-serif;
}
.kanan
{
  position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:2px;
   left:248px;
   width:1088px;
   max-width:1088px;
   right:1px;
   height: 900px;
   background-color:#FFFF;
   color:#000;
border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
-webkit-border-radius:3px 3px 3px 3px;
border:1px solid #25814F;
padding:3px;
}
#calender
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:720px;
   left:25px;
   right:1045px;
   height: 200px;
   background-color:#FFF;
   color:#000;
border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
-webkit-border-radius:3px 3px 3px 3px;
border:1px solid #25814F;
padding:3px;
}
#logo_product
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:520px;
   left:65px;
   right:25px;
}
#facebook
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:630px;
   left:35px;
   right:25px;
}
#tweeter
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:630px;
   left:95px;
   right:25px;
}
#gmail
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:630px;
   left:155px;
   right:25px;
}
.lengkungnotif
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:20px;
   left:700px;
   width:380px;
   min-width:380px;
   max-width:380px;
   height:35px;
   background-color:#DBDBDB;
border-radius:5px 5px 0px 0px;
-moz-border-radius:5px 5px 0px 0px;
-webkit-border-radius:5px 5px 0px 0px;
border:1px solid #25814F;
padding:3px;
}
.bawahnotif
{
	overflow:auto;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:62px;
   left:700px;
   width:366px;
   min-width:366px;
   max-width:366px;
   height:750px;
   background-color:#FFF;
   color:#FFF;
border-radius:0px 0px 5px 5px;
-moz-border-radius:0px 0px 5px 5px;
-webkit-border-radius:0px 0px 5px 5px;
border:1px solid #25814F;
padding:10px 10px 10px 10px;
}
.kotaknotif
{
   height:75px;
   width:248px;
border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
border:1px solid #25814F;
padding:10px 10px 10px 10px;
}
.kotaklistuser
{
   height:25px;
   right:100px;
   left:5px;
   text-align:center;
border-radius:30px 30px 30px 30px;
-moz-border-radius:30px 30px 30px 30px;
-webkit-border-radius:30px 30px 30px 30px;
border:1px solid #25814F;
background-color:#CCC;
cursor:pointer;
padding:0px 10px 0px 10px;
margin-top:10px;
margin-bottom:10px;
}
.kotaklistuser2
{
   height:25px;
   right:100px;
   left:5px;
   text-align:center;
border-radius:30px 30px 30px 30px;
-moz-border-radius:30px 30px 30px 30px;
-webkit-border-radius:30px 30px 30px 30px;
border:1px solid #25814F;
background-color:#FFF;
cursor:pointer;
padding:0px 10px 0px 10px;
margin-top:10px;
margin-bottom:10px;
}
.kotakuser
{
   height:75px;
   right:100px;
   left:5px;
border-radius:30px 30px 30px 30px;
-moz-border-radius:30px 30px 30px 30px;
-webkit-border-radius:30px 30px 30px 30px;
border:0px solid #25814F;
padding:0px 10px 0px 10px;
margin-top:10px;
margin-bottom:10px;
}
.kotakadmin
{
   height:75px;
   right:100px;
   left:20px;
border-radius:30px 30px 30px 30px;
-moz-border-radius:30px 30px 30px 30px;
-webkit-border-radius:30px 30px 30px 30px;
border:0px solid #25814F;
padding:0px 10px 0px 10px;
margin-top:10px;
margin-bottom:10px;
margin-left:30px;
}
.isiadmin
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   height:40px;
   width:228px;
   font-size:14px;
   color:#FFF;
   font-family:Arial, Helvetica, sans-serif;
border-radius:20px 20px 20px 20px;
-moz-border-radius:20px 20px 20px 20px;
-webkit-border-radius:20px 20px 20px 20px;
border:1px solid #25814F;
background-color:#36F;
padding-top:10px;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
}
.waktuadmin
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   left:50px;
   height:5px;
   width:75px;
   color:#999;
   font-size:12px;
   font-family:Arial, Helvetica, sans-serif;
border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
border:0px solid #25814F;
margin-top:50px;
padding:10px 10px 10px 5px;
}
.isiuser
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   height:40px;
   width:228px;
   font-size:14px;
   color:#000;
   font-family:Arial, Helvetica, sans-serif;
border-radius:20px 20px 20px 20px;
-moz-border-radius:20px 20px 20px 20px;
-webkit-border-radius:20px 20px 20px 20px;
border:1px solid #25814F;
background-color:#C0C0C0;
padding-top:10px;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
}
.waktuuser
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   left:150px;
   height:5px;
   width:95px;
   color:#999;
   font-size:12px;
   font-family:Arial, Helvetica, sans-serif;
border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
border:0px solid #25814F;
margin-top:50px;
padding:10px 10px 10px 5px;
}
.isinotif
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   height:40px;
   width:228px;
   font-size:14px;
   color:#000;
   font-family:Arial, Helvetica, sans-serif;
border-radius:20px 20px 20px 20px;
-moz-border-radius:20px 20px 20px 20px;
-webkit-border-radius:20px 20px 20px 20px;
border:0px solid #25814F;
background-color:#FFF;
padding-top:10px;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
}
.waktunotif
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   left:150px;
   height:5px;
   width:95px;
   color:#999;
   font-size:12px;
   font-family:Arial, Helvetica, sans-serif;
border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
border:0px solid #25814F;
margin-top:50px;
padding:10px 10px 10px 5px;
}
.lengkunglogin
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:0px;
   left:0px;
   right:0px;
   height:14px;
   background-color:#DBDBDB;
   color:#000;
   text-shadow:#000;
border-radius:5px 5px 0px 0px;
-moz-border-radius:5px 5px 0px 0px;
-webkit-border-radius:5px 5px 0px 0px;
border:1px solid #25814F;
padding:10px;
}
.bawahlogin
{
   position: absolute;
   z-index:1;
   display:block;
   content:' ';
   top:35px;
   left:0px;
   right:0px;
   height:200px;
   background-color:#FFF;
   color:#000;
border-radius:0px 0px 5px 5px;
-moz-border-radius:0px 0px 5px 5px;
-webkit-border-radius:0px 0px 5px 5px;
border:1px solid #25814F;
padding:90px 0px 0px 260px;
}
.login
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:0px;
   left:2px;
   right:2px;
   background-color:#FFF;
   color:#000;
   font-family:"Arial", Gadget, sans-serif;
   font-size:18px;
   height:40px;
border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
border-bottom:1px solid #25814F;
padding-top:15px;
}
.kotak_login
{
   position: absolute;
   font-family:"Arial", Gadget, sans-serif;
   font-size:18px;
border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
-webkit-border-radius:3px 3px 3px 3px;
border:0px solid #25814F;
padding:25px 25px 10px 25px;
background-color:#CCC;
}
.text_login
{
   position: absolute;
   z-index:-1;
   display:block;
   left:10px;
   font-family:"Arial", Gadget, sans-serif;
   font-size:14px;
border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
-webkit-border-radius:3px 3px 3px 3px;
border:0px solid #25814F;
background-color:#FFF;
}
.logingambar
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:10px;
   left:20px;
   right:100px;
}
.logintext
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:10px;
   left:50px;
   right:100px;
   color:#000;
   font-family:Arial, Helvetica, sans-serif;
}
.index_menu{
   overflow: auto;
   position: absolute;
   display:block;
   content:' ';
   z-index:-1;
   top:0px;
   left:0px;
   right:0px;
   max-height:850px;
   height:850px;
   color:#000;
   border:0px solid #25814F;
}

.atasbasic{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:30px;
   left:50px;
   right:600px;
   height:50px;
   background-color:#CCC;
   color:#000;
   text-align:center;
   font-size:36px;
   font-family:"Arial", Gadget, sans-serif;
border-radius:80px 80px 0px 0px;
-moz-border-radius:80px 80px 0px 0px;
-webkit-border-radius:80px 80px 0px 0px;
border:1px solid #25814F;
padding:5px 20px 0px 20px;
text-shadow:0 1px 2px rgba(0,0,0,.6);
-webkit-box-shadow:inset 0 0px 0px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.bawahbasic{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:20px;
   left:10px;
   right:405px;
   height:400px;
   background-color:#FFF;
   color:#000;
   text-align:center;
   font-size:36px;
   font-family:"Arial Black", Gadget, sans-serif;
border-radius:5px 5px 5px 5px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
border:1px solid #25814F;
padding:20px 20px 20px 20px;
-webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
box-shadow:inset 0 2px 2px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

#chatnotif:hover{
	background-color:#4DB429	
}
#chatnotif
{
   max-width:100px;
   min-width:100px;
   cursor: pointer;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:850px;
   left:50px;
   height: 20px;
   background-color:#5496D8;
   color:#FFF;
   text-align:center;
   font-family:"Comic Sans MS", cursive;
border-radius:50px 50px 50px 50px;
-moz-border-radius:50px 50px 50px 50px;
-webkit-border-radius:50px 50px 50px 50px;
border:2px solid #5496D8;
padding-bottom:3px;
}
#hkota_chat
{	
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:0px;
   left:0px;
   right:0px;
   height: 40px;
   background-color:#CCC;
   color:#FFF;
   text-align:left;
   font-family:"Comic Sans MS", cursive;
border-radius:20px 20px 0px 0px;
-moz-border-radius:20px 20px 0px 0px;
-webkit-border-radius:20px 20px0px 0px;
border:1px solid #5496D8;
padding-bottom:3px;
}
#kota_chat
{
   min-width:350px;
   max-width:350px;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:340px;
   left:605px;
   right:20px;
   height: 400px;
   background-color:#FFF;
   color:#000;
   text-align:center;
   font-family:"Comic Sans MS", cursive;
border-radius:20px 20px 20px 20px;
-moz-border-radius:20px 20px 20px 20px;
-webkit-border-radius:20px 20px 20px 20px;
border:1px solid #5496D8;
padding:80px 30px 50px 30px;
}
.tutuptext
{
   cursor:pointer;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top:10px;
   text-align:right;
   right:20px;
   color:#000;
   font-family:Arial, Helvetica, sans-serif;
}

.infochattext{
	position: absolute;
   z-index:-1;
   display:block;
   top:300px;
   left:30px;
   right:30px;
   font-family:"Arial", Gadget, sans-serif;
   font-size:14px;
   text-align:left;
   color:#000;
border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
-webkit-border-radius:3px 3px 3px 3px;
border:0px solid #5496D8;
background-color:#FFF;
}
.kotak_chating,.userbox2
{
	overflow:auto;
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   font-family:"Arial", Gadget, sans-serif;
   font-size:14px;
   top:100px;
   left:50px;
   right:50px;
   height:300px;
border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
-webkit-border-radius:3px 3px 3px 3px;
border:1px solid #5496D8;
padding:0px 0px 0px 0px;
background-color:#FFF;
color:#000;
text-align:left;
}
#headerchating
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   font-family:"Arial", Gadget, sans-serif;
   font-weight:bold;
   font-size:24px;
   text-align:center;
   top:60px;
   left:50px;
   right:50px;
   height:20px;
padding:10px 0px 0px 0px;
background-color:transparent;
}
#kotak_tombolchating2
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   font-family:"Arial", Gadget, sans-serif;
   font-size:14px;
   text-align:left;
   top:390px;
   left:50px;
   right:50px;
   height:120px;
border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
-webkit-border-radius:3px 3px 3px 3px;
border:0px solid #5496D8;
padding:10px 0px 0px 0px;
background-color:transparent;
}
#kotak_tombolchating
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   font-family:"Arial", Gadget, sans-serif;
   font-size:18px;
   top:370px;
   left:50px;
   right:50px;
   height:120px;
border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
-webkit-border-radius:3px 3px 3px 3px;
border:1px solid #5496D8;
padding:10px 0px 0px 0px;
background-color:#FFF;
}
table#css{
	border:medium;
	border-collapse:collapse;
	background-color:transparent;	
	margin:50px 50px 50px 50px;
}
table#luar{
	
	border:thin;
	border-color:#000;
	border-style:solid;
	border-collapse:collapse;
	background-color:transparent;
	margin:20px 20px 20px 20px;
	max-width:1000px;
	-webkit-box-shadow:inset 0 0px 0px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
tr#judul{
	height:50px;
	background-color:#CCC;
}
td#judul{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	padding-left:50px;
	text-shadow:0 1px 2px rgba(0,0,0,.6);
}
tr#css{
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;	
}
tr#hdr{
	height:35px;
	text-align:center;
	background-color:#CCC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}
tr#isi{
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
tr#css:hover{
	background-color:#68C43C;	
}
p#filter{
	padding:10px 10px 10px 10px;
	cursor:pointer;	
}
td#filter{
	padding:10px 10px 10px 10px;
}
#progressbar .ui-progressbar-value {
		background-color: #ccc;
	  }
	  .ui-progressbar {
		position: relative;
	  }
	  .progress-label {
		position: absolute;
		left: 50%;
		top: 4px;
		font-weight: bold;
		text-shadow: 1px 1px 0 #fff;
}