* {
	margin: 0;
	padding: 0;
}
body{
	background: #FFFFFF ;/*url(../img/bg_top.jpg) repeat-x;
	/*color: #bebebe;*/
	color: #000;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
}

h1, h2, h3, h4{
	font-family: Arial, sans-serif;
	color: #444444;
}

			table{
				color:#000;
			}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
button, .button{
	background: #F3F3F3;
	border: 1px solid #DCDCDC;
	border-radius: 2px;
	color: #444444;
	cursor: pointer;
	display: inline-block;
	font: 700 11px Tahoma, Arial, sans-serif;
	margin-right: 10px;
	padding: 7px 12px 7px 12px;
	position: relative;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFFFFF;
}
button:hover, .button:hover{
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-right-color: #999999;
	border-top-color: #999999;
	color: #333333;
	text-decoration: none;
}

.wrap{
	margin: 0 auto;
	/*width: 1200px;*/
	width: 1335px;
}

#header #top{
	height: 34px;
	padding: 14px 20px 0 20px;
}
#header #top p{
	text-shadow: #000 0px 1px 1px;
}
#header #top a{
	color: #f07e01;
}

#content{
	margin: 30px 0 30px 0;
}
#content .b1{
	background: #ffffff;
}
#content .b2{
	/*background: #f7f7f7;*/
	background: #ddd;
}

/* CONTENT SIDEBAR START */

#content #sidebar{
	float: left;
	margin: 0 20px 0 0;
	width: 190px;
}
#sidebar a{
	color: #656565;
}

#sidebar .box{
	border: 1px solid #DCDDE1;
	margin: 0 0 12px 0;
}
#sidebar .box .h_title{
	background: url(../img/bg_box_head.jpg) repeat-x;
	/*color: #bebebe;*/
	color: #ccc;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	height: 22px;
	padding: 7px 0 0 15px;
	text-shadow: #0E0E0E 0px 1px 1px;
}

#sidebar .box ul{
	list-style: none;
}
#sidebar .box ul li{
	padding: 8px 0 8px 5px;
}
.box ul li .icon{ padding: 2px 0 2px 22px;}
.box ul li .page{ background: url(../img/i_page.png) no-repeat center left;}
.box ul li .view_page{ background: url(../img/i_view_page.png) no-repeat center left;}
.box ul li .category{ background: url(../img/i_category.png) no-repeat center left;}
.box ul li .contact{ background: url(../img/i_contact.png) no-repeat center left;}
.box ul li .report{ background: url(../img/i_report.png) no-repeat center left;}
.box ul li .add_page{ background: url(../img/i_add_page.png) no-repeat center left;}
.box ul li .photo{ background: url(../img/i_photo.png) no-repeat center left;}
.box ul li .config{ background: url(../img/i_config.png) no-repeat center left;}
.box ul li .users{ background: url(../img/i_users.png) no-repeat center left;}
.box ul li .add_user{ background: url(../img/i_add_user.png) no-repeat center left;}
.box ul li .block_users{ background: url(../img/i_block_users.png) no-repeat center left;}



/* CONTENT MAIN START */

#content #main{
	float: right;
	margin: 0 0 12px 0;
	width: 1335px;
}

#content #main ul, #content #main ol{
	list-style-position: inside;
	margin: 0 0 0 35px;
}

#main .full_w{
	background: #ffffff;
	border: 1px solid #CCC;
	color: #848484;
	margin: 0 0 20px 0;
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
}
#main .full_b{
	background: #ffffff;
	border: 1px solid #CCC;
	color: #848484;
	margin: 0 0 20px 0;
        height: 455px;
	width: 800px;
	float: right;
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
}#main .full_b2{
	background: #ffffff;
	border: 1px solid #CCC;
	color: #848484;
	margin: 0 0 20px 0;
        height: 775px;
	width: 800px;
	float: right;
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
}
#main .full_panorama{
	background: #ffffff;
	border: 0px solid #CCC;
	color: #848484;
	margin: 0 0 20px 0;
        height: 640px;
	width: 1335px;
	float: right;
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
}
#main .full_r{
	background: #ffffff;
	border: 1px solid #CCC;
	color: #848484;
	margin: 0 0 20px 0;
        height: 500px;
	width: 800px;
	float: right;
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
}
#main .full_login{
	background: #ffffff;
	border: 1px solid #CCC;
	color: #848484;
	margin: 0 0 20px 0;
        height: 300px;
	width: 800px;
	float: right;
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
}
#main .full_l{
	background: #ffffff;
	border: 1px solid #CCC;
	color: #848484;
	margin: 0 0 20px 0;
        height: 1300px;
	width: 500px;
	float: left;
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
}
#main .full_w .h_title, .full_panorama .h_title, .full_r .h_title, .full_login .h_title, .full_l .h_title, .full_b2 .h_title, .full_b .h_title, #main .half_w .h_title{
	background: url(../img/bg_box_head.jpg) repeat-x;
	/*color: #bebebe;*/
	color: #ccc;
	font-size: 13px;
	font-weight: bold;
	height: 22px;
	padding: 7px 0 0 15px;
	text-shadow: #0E0E0E 0px 1px 1px;
	border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
}
#main .full_w .list{
	list-style: none;
}
#main .full_w h1, #main .full_w h2, #main .full_w h3{
	margin: 15px 15px 5px 15px;
}
#main .full_w p{
	line-height: 16px;
	margin: 5px 15px;
}

#main .half_w{
	background: #ffffff;
	border: 1px solid #DCDDE1;
	color: #848484;
	margin: 0 0 20px 0;
	width: 1327px;
	float: left;
}
#main .half_left{
	margin-right: 10px;
}
#main .half_right{
	margin-left: 4px;
}

/* STATS BLOCK */

#main .stats .today, #main .stats .week{
	float: left;
	margin: 10px auto;
	text-align: left;
	text-shadow: #fff 1px 1px 0px;
	width: 49%;
}
#main .stats .today{
	/*border-right: 1px dashed #c0c0c0;*/
	border-right: 1px dashed #fff;
}
#main .stats h3{
	color: #797777;
	font-size: 12px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
#main .stats .count{
	color: #444444;
	font-size: 23px;
	font-weight: bold;
}
#main .stats .type{
	font-size: 10px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

/* MAIN NOTIFY */

#main .n_warning{background: #FFF7CE;border: 1px solid #D9C65B; border-radius: 3px; margin: 20px 15px;padding: 1px;}
#main .n_warning p{	background: #FDF0B1 url(../img/i_warning.png) no-repeat 4px center;	color: #756B30;	margin: 0; padding: 7px 25px;}
#main .n_warning a{	color: #756B30;	font-weight: bold;}

#main .n_ok{background: #F6FFEC;border: 1px solid #89B755; border-radius: 3px; margin: 20px 15px;padding: 1px;}
#main .n_ok p{background: #DFF6C5 url(../img/i_ok.png) no-repeat 4px center; color: #496528; margin: 0; padding: 7px 25px;}
#main .n_ok a{color: #006312; font-weight: bold;}

#main .n_error{background: #FDE4E1;border: 1px solid #B16A6C; border-radius: 3px; margin: 20px 15px;padding: 1px;}
#main .n_error p{background: #F4CAC6 url(../img/i_error.png) no-repeat 4px center; color: #630E18; margin: 0; padding: 7px 25px;}
#main .n_error a{color: #822121; font-weight: bold;}

.table-icon { padding:8px 8px 8px 8px;}
/*.edit.table-icon { background: url(../img/i_edit.png) no-repeat; }*/
.edit.table-icon { background: url(../img/i_edit2.png) no-repeat; }
.detail.table-icon { background: url(../img/i_report.png) no-repeat; }
.delete.table-icon { background: url(../img/i_delete2.png) no-repeat; }
.archive.table-icon { background: url(../img/i_archive.png) no-repeat; }

.pagination{
	margin: 5px auto;
	padding: 12px 0;
	text-align: center;
}
.pagination a{ 
	border:solid 1px #d2d2d2; 
	color: #444444;  
	margin-right:2px; 
}
.pagination span{ 
	border:solid 1px #ddd; 
	margin-right:2px; 
}
.pagination .active{
	border:solid 1px #e0e0e0; 
	color:#000; 
	font-weight:bold;  
}
.pagination a:link, .pagination a:visited{
	padding:6px 10px; 
	text-decoration:none; 
}
.pagination span{ 
	color:#b6b6b6; 
	padding:6px 10px; 
	text-decoration:none; 
}
.pagination a:hover{ 
	border:solid 1px #b2b2b2; 
}

/* FOOTER START */

#footer{
	background: url(../img/bg_top.jpg) repeat-x top center;
	border-top: 2px solid #404345;
	color: #939393;
	float: left;
	margin: 0 auto;
	padding: 8px 20px;
	text-shadow: #111111 0px 1px 1px;
	width: 1295px;
}
#footer a{
	color: #939393;
	font-weight: bold;
}

/* HELPERS START */

.entry{ color: #444; margin: 5px 0; padding: 5px 15px; text-shadow: 0px 1px #ffffff; }
.add{ background: #F3F3F3 url(../img/i_add.png) no-repeat 4px center;	padding-left: 25px;}
.edit{ background: #F3F3F3 url(../img/icon/ok.gif) no-repeat 4px center;	padding-left: 25px;}
.cancel{ background: #F3F3F3 url(../img/i_delete.png) no-repeat 4px center;	padding-left: 25px;}
.sep{ border-bottom: 1px dashed #DDDDDD; margin: 10px 0;}

.clear{ clear: both; }

.left{ 	float: left; }
.right{ float: right; }

.align-left{ text-align: left; }
.align-right{ text-align: right; }
.align-center{ text-align: center; }
